{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <section class="news">
        <div class="container d-flex flex-wrap">
            <div class="posts">
                <h2 class="heading-section title">Hello Jojo🙂</h2>
                <div class="img-con">
                    <img src="{% static "blog/images/index.jpeg" %}">
                </div>
                <p class="summary">lorem sdkjmsdnljkspodak sndasdaoskdasd alskdjlasd alskdjajs.d alsdkaljdas ld
                    salkd </p>
                <ul class="tags">
                    <li>news</li>
                </ul>

            </div>
        </div>
    </section>

{% endblock %}