<div class="bg-dark">
    <div class="footer-con container-fluid d-flex " >
        <div>
            <p class="text-info font-monospace">copyright &copy; JojoT 2022</p>
        </div>
        <div>
            <ul class="list-group list-group-horizontal">
                <li><a class="link-info nav-link" href="#">HEY</a></li>
                <li><a class="link-info nav-link" href="#">HOW</a></li>
                <li><a class="link-info nav-link" href="#">ARE</a></li>
                <li><a class="link-info nav-link" href="#">YOU</a></li>
            </ul>
        </div>
        <div class="social-con">
            <a href="#" class="text-info">
            <i class="fab fa-facebook-square fa-2x"></i></a>
            <a class="text-info" href="#"><i class="fab fa-instagram-square fa-2x"></i></a>
            <a class="text-info" href="#"><i class="fab fa-twitter-square fa-2x"></i></a>
            <a class="text-info" href="#"><i class="fab fa-github-square fa-2x"></i></a>
        </div>
    </div>
</div>