<div class="bg-dark  sticky-top">
    <div class="container">
        <div class="navbar navbar-dark" >
            <h1 class="navbar-brand text-info">
                Jojo's <span class="p-2 bg-info text-dark rounded-2">Blog</span>
            </h1>

            <nav class="nav">
                <div class="nav-item mx-2">
                    <a class=" btn btn-outline-info" href="#">
                        Home
                    </a>
                </div><div class="nav-item mx-2">
                    <a class=" btn btn-outline-info" href="#">
                        Featured
                    </a>
                </div><div class="nav-item  mx-2">
                    <a class=" btn btn-outline-info" href="#">
                        Latest
                    </a>
                </div>
                <div class="nav-item  ms-4">
                    <a class=" btn btn-outline-danger" href="#">
                        <i class="fas fa-door-open"></i>
                    </a>
                </div>

            </nav>
        </div>
    </div>
</div>